{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row"
         >
        {% for i in movie_list %}
        <div class="col-md-3" ;>
            <div class="card" style="width: 18rem; height:520px; margin:10px; padding:20px;">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{%url 'movie_app:detail' i.id %}" class="btn btn-primary" style="align:bottom;">Show details</a>
      <a href="{%url 'movie_app:detail' i.id %}" class="btn btn-primary" style="align:bottom;">Add Movie </a>
  </div>
</div>

        </div>
         {% endfor %}
    </div>
</div>







{% endblock %}